<% provide(:title, "Login") %>

<h1>Log in</h1>

<div class=container id="signup">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">

      <div class="col">

        <%= form_for(:session, url: login_path) do |f| %>

          <%= f.label :username %>
          <%= f.text_field :username, class: 'form-control' %>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.submit "Login", class: "btn btn-primary", id: "account_button"%>

        <% end %>

      </div>

    </div>
  </div>
</div>
<div id="signup_prompt">
  <p>No account?  Click <%= link_to "here", signup_path %> to sign up!</p>
</div>